body{ 
    font: 15px Arial;
    background-color: #222;
    font-weight: bold;
    color: #fff;
}

a {
    text-decoration:none;
}

small {
    font-weight: bold;
    color: #fff;
}

.wrapper { 
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 1.5);
    border: 3px solid #80BC3A;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 90px;
}

.btn {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 1.5);
	border: 3px solid #80BC3A;
    border-radius: 50px;
    background-color: #0004ff;
} 

.btn-success {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 1.5);
    border: 3px solid #80BC3A;
    border-radius: 50px;
    background-color: #0004ff;
}

.boton1 {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 1.5);
    border: 3px solid #80BC3A;
    border-radius: 50px;
}

.btn-default {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 1.5);
    border: 3px solid #80BC3A;
    border-radius: 50px;
    background-color: #ff0000;
    color: #fff;
}

.btn-default:hover {
    background-color: #bf1b1b;
    color: #fff;
}

.form-control {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 1.5);
    border: 3px solid #80BC3A;
    border-radius: 50px;
}

/* Mensaje alerta */
.alerta {
  position:static;
  margin-top: 10px;
  padding: 20px;
  font-weight:bold;
  border:3px solid #328EB2;
  box-shadow: 10px 10px 60px #f44336;
  border-radius: 50px;
  text-align:center;
  background-color: #f44336;
  color: #fff;
  opacity: 1;
  transition: opacity 0.6s;
}

.alerta.warning {
	background-color: #328EB2;
}

.cerrarbtn {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.cerrarbtn:hover {
  color: #000;
}

#button {
  display: inline-block;
  text-align: center;
  background-color: #554b5e;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  width: 50px;
  height: 50px;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 1.5);
  border: 3px solid #8800ff;
  border-radius: 50px;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}